<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="GameService.CGameService">
                <endpoint address="" binding="netTcpBinding" contract="GameService.IGameSeekerService" />
                <endpoint address="" binding="netTcpBinding" contract="GameService.IGameManagerService" />
                <endpoint address="" binding="netTcpBinding" contract="GameService.IVirtualBoardService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8331" />
                        <add baseAddress="net.tcp://localhost:8332" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="mexBehavior" name="DataBaseAccessService.CDataBaseAccessService">
                <endpoint address="" binding="netTcpBinding" contract="DataBaseAccessService.IDataBaseAccessService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8333" />
                        <add baseAddress="net.tcp://localhost:8334" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="mexBehavior" name="AuthenticationService.CAuthenticationService">
                <endpoint address="" binding="netTcpBinding" contract="AuthenticationService.IAuthenticationService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8335" />
                        <add baseAddress="net.tcp://localhost:8336" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>