<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAuthenticationService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGameSeekerService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGameManagerService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IVirtualBoardService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8336/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAuthenticationService"
        contract="AuthenticationService.IAuthenticationService" name="NetTcpBinding_IAuthenticationService">
        <identity>
          <userPrincipalName value="DESKTOP-7PAVH4U\mi" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8332/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGameSeekerService" contract="GameService.IGameSeekerService"
        name="NetTcpBinding_IGameSeekerService">
        <identity>
          <userPrincipalName value="DESKTOP-7PAVH4U\mi" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8332/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGameManagerService" contract="GameService.IGameManagerService"
        name="NetTcpBinding_IGameManagerService">
        <identity>
          <userPrincipalName value="DESKTOP-7PAVH4U\mi" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8332/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IVirtualBoardService" contract="GameService.IVirtualBoardService"
        name="NetTcpBinding_IVirtualBoardService">
        <identity>
          <userPrincipalName value="DESKTOP-7PAVH4U\mi" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>